@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #080808;
    color: white;
    overflow-x: hidden;
}

/* --- LOADER --- */
#loader {
    position: fixed;
    inset: 0;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    transition: 0.5s ease;
}

#loader.fade-out { transform: translateY(-100%); }
.loader-content { text-align: center; }
.anim-sub { color: #00ffd5; letter-spacing: 2px; }
.anim-title { font-size: 3rem; margin: 10px 0; }
.loading-bar { width: 0; height: 3px; background: #00ffd5; animation: fillBar 2s forwards; }
@keyframes fillBar { to { width: 100%; } }

/* --- NAVBAR --- */
.navbar {
    position: fixed;
    top: 0; width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(8, 8, 8, 0.8);
    backdrop-filter: blur(10px);
    z-index: 1000;
}
.logo { 
    font-size: 20px; 
    font-weight: 700; 
    color: #00ffd5;
 }

.nav-links{
    display: flex;
    justify-content: center;
    gap: 20px;
}
   .nav-links a {
         position: relative;
         text-decoration: none;
         color: white;
         font-weight: 5000px;
         padding: 2px 0;
    }

    .nav-links a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background: #00ffd5;
        transition: width 0.3s ease-in-out;
    }

    .nav-links a:hover::after {
        width: 100%;
    }
.nav-links a:hover { color: #00ffd5; }

/* --- HERO SECTION --- */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 4%;
    gap: 3rem;
}
.hero-text { flex: 1; }
.hero-text h1 { font-size: 50px; font-weight: 700; line-height: 1.2; }
.hero-text h3 { font-size: 25px; margin: 10px 0; }
.typing-text { color: #00ffd5; }
.hero-text p { margin: 20px 0; line-height: 1.6; color: #eee; }

.social-icons { margin-bottom: 30px; }
.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px; height: 45px;
    border: 2px solid #00ffd5;
    border-radius: 20%;
    color: #00ffd5;
    text-decoration: none;
    margin-right: 15px;
    transition: 0.2s ease-in-out;
}
.social-icons a:hover { 
    background: #00ffd5; 
    color: #080808; 
    box-shadow: 0 0 40px #00ffd5; 
    width: 90px;
    height: 45px;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    border-radius: 20%;
}

.social-icons .ig:hover {
    background: black;
    border-radius: 20%;
    box-shadow: 0 0 20px rgb(170, 51, 116);
    border: rgb(170, 51, 116);
    color: rgb(170, 51, 116);
}

.social-icons .wa:hover {
    background: black;
    border-radius: 20%;
    border: #25de66;
    box-shadow: 0 0 20px #25de66;
    color: #25de66;
}

.social-icons .tt:hover {
    background: black;
    border: white;
    box-shadow: 0 0 30px #eee;
    border-radius: 20%;
    color: #eee;
}
.btn-hire {
    padding: 10px 40px;
    background: #00ffd5;
    color: #080808;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 600;
    box-shadow: 0 0 5px #00ffd5;
    transition: 0.3s;
}

.btn-hire:hover {
    box-shadow: 0px 0px 15px #00ffd5;
    background: rgb(23, 20, 20);
    padding: 10px 40px;
    font-size: 95%;
    color: #00ffd5 ;
}


/* --- PHOTO PROFILE --- */
.hero-img { flex: 1; display: flex; justify-content: center;  align-items: center;}
.img-box {
    width: 300px; height: 300px;
    border-radius: 50%;
    border: 2px solid #00ffd5;
    overflow: hidden;
    box-shadow: 0 0 20px #00ffd5;
    transition: 0.3s ease-in-out;
    margin-top: 2px;
    
}

.img-box:hover {
    width: 280px; height: 280px;
    box-shadow: 0 0 45px rgb(92, 225, 204);
    transition: 0.2s ease-out;
    border: 7px solid rgb(92, 225, 204);
    border-radius: 50%;
}
.img-box img { 
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}


/* ikon menu sembunyi di di dekstop */
.menu-icon {
    display: none;
    font-size: 24px;
    color: #00ffd5;
    cursor: pointer;
}

/* --- RESPONSIVE (UNTUK HP) --- */
@media (max-width: 768px) {
    /* munculin ikon di hp */
    .menu-icon {
        display: block;
    }

    .nav-links {
        position: fixed; 
        top: 0; 
        right: -100%; /* sembunyi di kanann luar layar */
        width: 70%; 
        height: 100vh; 
        background: rgba(8, 8, 8, 0.95);
        display: flex; 
        flex-direction: column;
        align-items: center;
        gap: 30px;
        justify-content: center;
        transition: 0.5s ease;
        z-index: 2000;
}

    /* pas menu aktif, dia geser msuk ke layar */
    .nav-links.active {
         right: 0; 
         z-index: 2001;
    }

    .hero { 
        flex-direction: column-reverse;
        text-align: center;
        padding-top: 100px;
        height: 100%;
    }
    
    .hero-text {
        font-size: 80%;
        text-align: center;
        justify-content: center;
    }

    .hero-text h1 { font-size: 40px; font-weight: 700; line-height: 1.2; }
    .hero-text h3 { font-size: 20px; margin: 10px 0; }
    .typing-text { color: #00ffd5; font-size: 40px;}

    .img-box {
        width: 190px; height: 190px;
        border-radius: 50%;
        border: 2px solid #00ffd5;
        overflow: hidden;
        box-shadow: 0 0 20px #00ffd5;
        transition: 0.3s ease-in-out;
    }

    .img-box:hover {
         width: 180px; height: 180px;
         box-shadow: 0 0 25px rgb(92, 225, 204);
         transition: 0.2s ease-out;
        border: 7px solid rgb(92, 225, 204);
        border-radius: 50%;
    }

    .img-box img { 
        width: 100%;
        height: 100%; 
        object-fit: cover; 
    }
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #080808; /*warna backgroudn sama*/
    padding: 80px 10%;
    min-height: 100vh;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 4rem; /* jarak antara foto dna teks */
}

.about-img {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-img img {
    width: 300px;
    height: 300px;
    border-radius: 30%;
    /*bentuk kotak tumpul biar beda sama profil diatas*/
    border: 5px solid #00ffd5;
    box-shadow: 0 0 30px #00ffd5;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}

.about-img img:hover {
    box-shadow: 0 0 50px #00ffd5;
    border: 8px solid #00ffd5;
    border-radius: 30%;
    width: 290px;
    height: 290px;
}

.about-text {
    flex: 1;
}

.about-text h2 {
    font-size: 45px;
    margin-bottom: 10px;
}

.about-text h2 span {
    color: #00ffd5;
}
.about-text h3 {
    font-size: 16px;
    line-height: 1.8;
    color: #ccc;
    margin-bottom: 30px;
}

.about-text p {
    font-size: 16px;
    line-height: 1.6;
    color: #ccc;
    margin-bottom: 40px;
}

/*biar pas di hp jadi tumpuk atas bwah*/
@media (max-width: 992px) {
    .about-container {
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }

    .about-img img {
        width: 230px;
        height: 230px;
    }

    .about-img img:hover {
    box-shadow: 0 0 50px #00ffd5;
    border: 8px solid #00ffd5;
    border-radius: 30%;
    width: 220px;
    height: 220px;
}

    .about-text h2 {
        font-size: 35px;
    }
}

/* guidefs official */
.typing {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #ffffff;
    border-right: 1px solid #ffffff;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 5s steps(21) forwards, blink 0.7s steps(1)30, hideCursor 0s 4s forwards;
}


@keyframes typing {
    from { width: 0; }
    to { width: 195px; }
}

@keyframes blink {
    50% { border-color: transparent; }
}

@keyframes hideCursor {
    to { border-right: none;}
}


.text1 {
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.text1:hover {
    color: white;
    font-size: 100%;
    margin-top: 25px;
    margin-bottom: 30px;
}

.text2 {
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.text2:hover {
    color: white;
    text-shadow: 0 0 1px #ffffff;
    font-size: 100%;
    margin-top: 25px;
    margin-bottom: 30px;
    
}



@media (max-width: 768px) {
    .typing {
        display: block;
        text-align: center;
        margin: 0 auto;
        margin-top: 5px;
    }

    .social-icons a {
        margin-left: 7px;
        margin-right: 7px;
    }
}


/* Animation KEyFRAMES */

.imageReveal {
    animation: imageReveal both;
    animation-timeline: view(50% auto);
}

@keyframes imageReveal {
    from {
        filter: saturate(0) contrast(4) brightness(.1) blur(2px);
        opacity: 0;
        scale: .95;
        translate: 0 4rem;
    }
    to {
        filter: none;
        opacity: 1;
        scale: 1;
        translate: 0 0;
    }
}

html {
    scroll-behavior: smooth;
}


@keyframes floatAround {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}




/* Archives Edit */

.archives {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #080808; /*warna backgroudn sama*/
    padding: 80px 10%;
    min-height: 100vh;
}

/* animasi untuk Home */

.from-left {
    animation: fromleft 1.2s ease forwards;
    animation-delay: 1.8s;
}

@keyframes fromleft {
    from { 
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.zoom-in {
    animation: zoomIn 1s ease forwards;
    animation-delay: 1.8s;
}

@keyframes zoomIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.zoomin-cinematic {
    display: inline-block;
    transform-origin: center;
    animation: zoomInCinematic 1s ease forwards;
    animation-delay: 1.8s;
}

@keyframes zoomInCinematic {
    from {
        transform: scale(0.8) translateY(20px);
        opacity: 0;
    }
    to {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

.zoom-out {
    animation: zoomOut 1s ease-in-out forwards;
    animation-delay: 1.8s;
}

@keyframes zoomOut {
    0% {
        transform: scale(1.5);
        opacity: 0;
    }
    50% {
        transform: scale(0.8);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.fadeup {
    animation: fadeUp 1s ease-in forwards;
    animation-delay: 1.8s;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(40px);;
    }
    60% {
        transform: translateY(-5px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.fadeup1 {
    animation: fadeUp1 1s ease-in forwards;
    animation-delay: 1.9s;
}

@keyframes fadeUp1 {
    0% {
        opacity: 0;
        transform: translateY(40px);;
    }
    60% {
        transform: translateY(-5px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.fadeup2 {
    animation: fadeUp2 1s ease-in forwards;
    animation-delay: 2.0s;
}

@keyframes fadeUp2 {
    0% {
        opacity: 0;
        transform: translateY(40px);;
    }
    60% {
        transform: translateY(-5px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.fadeup3 {
    animation: fadeUp3 1s ease-in forwards;
    animation-delay: 2.1s;
}

@keyframes fadeUp3 {
      0% {
        opacity: 0;
        transform: translateY(40px);;
    }
    60% {
        transform: translateY(-5px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.fadeup4 {
    animation: fadeUp4 1s ease-in forwards;
    animation-delay: 2.2s;
}

@keyframes fadeUp4 {
    0% {
        opacity: 0;
        transform: translateY(40px);;
    }
    60% {
        transform: translateY(-5px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* uji coba */
.fadeup5 {
    animation: fadeUp5 4s ease-in-out forwards;
    animation-delay: 2.3s;
}

@keyframes fadeUp5 {
    0% {
        opacity: 0;
        transform: translateY(40px);;
    }
    70% {
        transform: translateY(-10px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}