@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #080808;
    color: white;
    overflow-x: hidden;
}

/* --- LOADER --- */
#loader {
    position: fixed;
    inset: 0;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    transition: 0.8s ease-in-out;
}
#loader.fade-out { transform: translateY(-100%); }
.loader-content { text-align: center; }
.anim-sub { color: #00ffd5; letter-spacing: 2px; }
.anim-title { font-size: 3rem; margin: 10px 0; }
.loading-bar { width: 0; height: 3px; background: #00ffd5; animation: fillBar 2s forwards; }
@keyframes fillBar { to { width: 100%; } }

/* --- NAVBAR --- */
.navbar {
    position: fixed;
    top: 0; width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(8, 8, 8, 0.8);
    backdrop-filter: blur(10px);
    z-index: 1000;
}
.logo { font-size: 25px; font-weight: 700; color: #00ffd5; }

    .nav-links {
        display: flex;
        gap: 35px;
    }
   .nav-links a {
         position: relative;
         text-decoration: none;
         color: white;
         font-weight: 500;
         padding: 2px 0;
    }

    .nav-links a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background: #00ffd5;
        transition: width 0.3s ease-in-out;
    }

    .nav-links a:hover::after {
        width: 100%;
    }
.nav-links a:hover { color: #00ffd5; }

/* --- HERO SECTION --- */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 5%;
    gap: 2rem;
}
.hero-text { flex: 1; }
.hero-text h1 { font-size: 50px; font-weight: 700; line-height: 1.2; }
.hero-text h3 { font-size: 25px; margin: 10px 0; }
.typing-text { color: #00ffd5; }
.hero-text p { margin: 20px 0; line-height: 1.6; color: #eee; }

.social-icons { margin-bottom: 30px; }
.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px; height: 45px;
    border: 2px solid #00ffd5;
    border-radius: 50%;
    color: #00ffd5;
    text-decoration: none;
    margin-right: 15px;
    transition: 0.3s;
}
.social-icons a:hover { background: #00ffd5; color: #080808; box-shadow: 0 0 15px #00ffd5; }

.btn-hire {
    padding: 10px 40px;
    background: #00ffd5;
    color: #080808;
    text-decoration: none;
    border-radius: 40px;
    font-weight: 600;
    box-shadow: 0 0 5px #00ffd5;
    transition: 0.3s;
    margin-right: 15px;
}

/* --- PHOTO PROFILE --- */
.hero-img { flex: 1; display: flex; justify-content: center; }
.img-box {
    width: 300px; height: 300px;
    border-radius: 50%;
    border: 5px solid #00ffd5;
    overflow: hidden;
    box-shadow: 0 0 20px #00ffd5;
}
.img-box img { 
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}


/* ikon menu sembunyi di di dekstop */
.menu-icon {
    display: none;
    font-size: 24px;
    color: #00ffd5;
    cursor: pointer;
}

/* --- RESPONSIVE (UNTUK HP) --- */
@media (max-width: 768px) {
    /* munculin ikon di hp */
    .menu-icon {
        display: block;
    }

    .nav-links {
        position: fixed; 
        top: 0; 
        right: -100%;
        /* sembunyi di kanann luar layar */
        width: 70%; 
        height: 100vh; 
        background: rgba(8, 8, 8, 0.95);
        display: flex; 
        flex-direction: column;
        align-items: center;
        gap: 30px;
        justify-content: center;
        transition: 0.5s ease;

        z-index: 1001;

        .nav-links.active {
            right: 0;
        }
    }

    /* pas menu aktif, dia geser msuk ke layar */
    .nav-links.active { right: 0; }

    .hero { 
        flex-direction: column-reverse;
        text-align: center;
        padding-top: 100px;
        height: auto;
    }
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #080808; /*warna backgroudn sama*/
    padding: 80px 10%;
    min-height: 100vh;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 4rem; /* jarak antara foto dna teks */
}

.about-img {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-img img {
    width: 350px;
    height: 350px;
    border-radius: 30%;
    /*bentuk kotak tumpul biar beda sama profil diatas*/
    border: 5px solid #00ffd5;
    box-shadow: 0 0 30px #00ffd5;
    object-fit: cover;
}

.about-text {
    flex: 1;
}

.about-text h2 {
    font-size: 45px;
    margin-bottom: 10px;
}

.about-text h2 span {
    color: #00ffd5;
}
.about-text h3 {
    font-size: 16px;
    line-height: 1.8;
    color: #ccc;
    margin-bottom: 30px;
}

.about-text p {
    font-size: 16px;
    line-height: 1.6;
    color: #ccc;
    margin-bottom: 40px;
}

/*biar pas di hp jadi tumpuk atas bwah*/
@media (max-width: 992px) {
    .about-container {
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }

    .about-img img {
        width: 250px;
        height: 250px;
    }

    .about-text h2 {
        font-size: 35px;
    }
}
